title
{
  color: rgb(109, 146, 226);
}

h1 {
  color: rgb(109, 146, 226);
}


h2 {
  color:rgb(109, 146, 226);
}

h3 {
  color:rgb(31, 57, 114);
}

a {
  color:rgb(172, 117, 55);
}
